.logoutButton{
    display: flex;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 15px;
    background: #001e4a;
    color: #ffffff;
}